---
layout: default.ejs
permalink: /
---
<section class="top">
	<div class="mask">
		<h2>Multi-Player Dedicated Server Project</h2>
		<p>
			MPDS 项目免费提供大量联机游戏(开源为主)的专用服务器, 在游戏的服务器地址栏中输入 <strong>mpds.xyz</strong> 和游戏相应的端口即可畅玩
		</p>
	</div>
</section>
<div class="list-group-in-index">
	<section>
		<%- include('/item-list', {
			title: '游戏',
			list: collections.games,
			url: '/games/',
			map: (game) => ({
				image: game.data.image,
				url: game.url,
				label: game.data.name,
			}),
		}) %>
	</section>
<!--
	<section>
		<%- include('/item-list', {
			title: 'Recent Articles',
			list: collections.posts,
			map: (post) => ({
				image: post.data.image,
				url: post.url,
				label: post.data.title,
			}),
		}) %>
	</section>
-->
</div>