---
layout: default.ejs
---
<section class="top">
	<h1> {{name}} </h1>
</section>
<section class="list-group">
	<img src="{{image}}" alt="{{name}}" />
	<div>
		<p>
			{{excerpt}}
		</p>
		<br>
		<a class="site-header__nav__link" href="{{site}}">{{site}}</a>
		
		
		
		<!--
		<p>
			<button class="snipcart-add-item"
					data-item-id="11ty-{{page.fileSlug}}"
					data-item-name="{{name}}"
					data-item-price="{{price}}"
					data-item-image="{{config.siteUrl}}{{image}}"
					data-item-url="{{config.siteUrl}}/games.json">
				Buy for {{price}}$
			</button>
		</p>
		-->
	</div>
</section>

<section>
	{{ content | safe }}
</section>

<!--
<section>
		<h2>Code of the Buy Button</h2>
		{% highlight "markup" %}
<button class="snipcart-add-item"
		data-item-id="11ty-{{page.fileSlug}}"
		data-item-name="{{name}}"
		data-item-price="{{price}}"
		data-item-image="{{config.siteUrl}}{{image}}"
		data-item-url="{{config.siteUrl}}/games.json">
	Buy for {{price}}$
</button>
		{% endhighlight %}
</section>
-->