html,
body,
.main {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

strong {
  font-size: 1.5em;
  margin: 1em 0;
}
.main {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.main > * {
  flex: 1;
  /* height: 100%; */
  /* padding: 1em; */
}

.main > header,
.main > footer {
  flex: 0;
  width: 100%;
  max-width: 100%;
  background-color: #e0e3f5;
}
.main > footer > p{
  margin-left: 240px;
}
.content{
  max-width: 1440px;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 2em;
  margin: 1em 0;
  line-height: 1.5em;
}

.title a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* margin-left: -0.2em; */
}

.title a:before {
  display: block;
  content: "";
  height: 2em;
  background-image: url(/assets/logo-joystick.png);
  background-size: 120%;
  flex: 0 0 2em;
  background-position: center;
    margin-right: 0.2em;
}

section.top {
  border-bottom: 0.3em solid #e0e3f5;
  margin-bottom: 1em;
}

.list-group-in-index {
	display: block;
}

.list-group {
  display: block;
}


.list-group img {
	display: inline-block;
	margin: 0px 0px;
  }
  
.list-group p, .list-group a{
	display: inline-block;
	margin: 20px 20px;
}  

@media (min-width: 500px) {
  .list-group {
    display: flex;
  }
}

.list-group > * {
  flex: 1;
}

.content-list {
  list-style-type: none;
  padding: 0;
}

.content-list li {
  padding: 0.5em 0;
}

.content-list a {
  display: flex;
  padding: 0.5em;
}

.content-list img {
  height: 3em;
  padding-right: 0.5em;
}

.item-grid {
  display: flex;
  flex-wrap: wrap;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(13em, 1fr));
}

.item-grid .item {
  max-width: 15em;
  min-width: 10em;
  flex: 0 1 12em;
  margin: 0.5em;
  text-align: center;
}

a,
a:visited {
  text-decoration: none;
  font-weight: bold;
  color: #4e3e2c;
}

a:hover {
  text-decoration: underline;
}

.list-group a {
  color: inherit;
}

h1 a:hover,
h2 a:hover,
.title a:hover,
.content-list a:hover,
.item-grid .item:hover {
  text-decoration: none;
}

.content-list a:hover,
.item:hover {
  background-color: #f3f3f3;
}

.snipcart-add-item {
  border: 0;
  background-color: #e0e3f5;
  font-size: 1em;
  font-weight: bold;
  padding: 0.5em;
  box-sizing: border-box;
  height: 2.2em;
  cursor: pointer;
}

.snipcart-add-item:hover {
  border: 1px solid black;
}
